body {
  background-image: url('https://www.wallpapertip.com/wmimgs/72-722533_typographic-world-map-wallpaper1080x960-wallpaper-screensaver-world-map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.ldpg {
  padding: 550px 0px 0px 0px;
}

.h1 {
  color: lightslategray;
  padding: 0px;
  margin: 0px;
  font-size: 2.5rem;
}

.btn {
  color: lightgrey;
  background-color: lightslategray;
  border: 1px solid lightslategrey;
  padding: 0.275rem 1.95rem;
  font-size: 1.1rem;
  border-radius: 0.25rem;
}

.btn:hover{
  font-size: 1.3rem;
}